/* Header Component Styles */

[data-eui-context] .eui-header {
  grid-area: header;
  background-color: var(--eui-header-colors-background);
  color: var(--eui-header-colors-text);
  border-bottom: 1px solid var(--eui-header-colors-border);
  padding: var(--eui-header-spacing-padding-vertical) var(--eui-header-spacing-padding-horizontal);
  height: var(--eui-header-size-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  z-index: 10;
}

[data-eui-context] .eui-header > * + * {
  margin-left: var(--eui-header-spacing-gap);
}

